<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="/styles/home.css">
    
</head>

<body>

    <header>
        <nav>
            <div class="logo-nav">
                <a href="/"><span class="logo-title">Stony Hill Library</span></a>
                <a href="/"><span>Home</span></a>
                <a href="/"><span>About</span></a>
                <a href="/booklist"><span>Book list</span></a>
                <a href="/admin"><span>Dashboard</span></a>
            </div>
            <div class="registry">
                <a href="/status"><span>Status</span></a>
                <a href="/login"><span class="login">Login</span></a>
            </div>
        </nav>
    </header>
    <%- body %>

        <footer>
            <div class="footer">
                <div class="info1">
                    <h2>Stonyhill Primary</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sequi molestiae, totam,
                        pariatur
                        perferendis beatae ipsum at inventore obcaecati quod ipsa tempore molestias sit animi minus
                        commodi
                        nemo
                        optio! Autem!</p>
                </div>

                <div class="info2">
                    <h2>Gallery</h2>
                    <div class="gallery">
                        <div class="img"> <img
                                src="https://s18670.pcdn.co/wp-content/uploads/Science-Encyclopedia.jpg"
                                alt="" width="150" height="100"></div>
                        <div class="img">
                            <img src="https://cdn.wallpaper.com/main/styles/responsive_1460w_scale/s3/ai-weiwei-1_0_0.jpg?itok=ECAAbFad"
                                width="150" height="100" alt="">
                        </div>
                        <div class="img">
                            <img src="https://www.capstonepub.com/images/1520/0/1934/DM-2217-Authentic%20Voices%20Booklist.webp"
                                width="150" height="100" alt="">
                        </div>
                        <div class="img">
                            <img src="https://149349728.v2.pressablecdn.com/wp-content/uploads/2019/05/Untitled-design-27.png"
                                width="150" height="100" alt="">
                        </div>
                        <div class="img">
                            <img src="https://assets.penguinrandomhouse.com/the-read-down-images/list-8472-fallback.jpg"
                                width="150" height="100" alt="">
                        </div>
                        <div class="img">
                            <img src="https://blog-cdn.reedsy.com/uploads/2018/03/Romance-1.jpg"
                                width="150" height="100" alt="">
                        </div>
                    </div>
                </div>
                <div class="info3">
                    <h2>Get in Touch</h2>
                    <p>Stay tuned to our updates</p>
                    <div class="media">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fas fa-envelope"></i>
                    </div>
                    <input type="text">
                    <p>Subscribe</p>
                </div>
            </div>
            <div class="copy">
                <label for="">©Copyright 2021 | all rights reserved</label>
            </div>
        </footer>

</body>

</html>