<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add" method="post">
        <label for="">First Name</label>
        <input type="text" name="firast_nm">

        <label for="">last Name</label>
        <input type="text" name="last_nm">
        <label for="">Email</label>
        <input type="text" name="email">

        <label for="">Gender</label>
        <input type="text" name="gender">
        <button type="submit"> Add Data</button>
    </form>
    
</body>
</html> -->