section .background {
    position: relative;
    background-image: linear-gradient(0deg, rgba(24, 155, 227,0.5) 0%, rgba(24, 155, 227,0.5) 4%,transparent 4%, transparent 16%,rgba(13, 183, 231,0.5) 16%, rgba(13, 183, 231,0.5) 87%,rgba(44, 99, 220,0.5) 87%, rgba(44, 99, 220,0.5) 100%),linear-gradient(90deg, rgb(24, 155, 227) 0%, rgb(24, 155, 227) 72%,rgb(55, 71, 216) 72%, rgb(55, 71, 216) 77%,transparent 77%, transparent 85%,rgb(44, 99, 220) 85%, rgb(44, 99, 220) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 15rem;



}

section .background h1 {
    color: #fff;
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 25rem;
    padding-left: 5rem;
    padding-top: 5rem;
}

#orders {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: 50px auto;

}

#orders td,
#orders th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    width: 8rem;
    color: black;
    font-size: 12px;

}

#orders .head-color {
    background-color: rgb(7, 122, 253);
    color: white;


}

#orders tr:nth-child(even) {
    background-color: #f2f2f2;
}

#orders tr:hover {
    background-color: #ddd;
}

#orders th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    /* background-color: rgb(7, 242, 175); */
    /* color: white; */
}